<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Wellesley CS Club</title>

  <script src="jquery-1.11.3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

  <link rel="icon" href="https://image.ibb.co/mMWSR5/Wechat_IMG16.png">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <link rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/eboard.css">
  <!-- Your stylesheet -->
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
</head>
<style>
body,h1,h2,h3,h4,h5,h6 {
  font-family: "Raleway", sans-serif;
}
html {
    height: 100%;
    line-height: 1.8;
}

body {
  height: 100%;
  line-height: 1.8;
  position: relative;
}


.align-center {
  text-align: center;
}

.background {
    background-position: center;
    background-size: cover;
    /*background-image: url("https://image.ibb.co/nfQkdx/18_BDCF39_D9_C6_4177_864_D_7_E4036_D98_B4_B.jpg");*/
    background-image: url("https://scontent.fbed1-1.fna.fbcdn.net/v/t1.0-9/10665876_856895040989685_6039973723728781614_n.jpg?oh=6f52682ec40726908fc15465f72be2f7&oe=5B2152D4");
    background-color: rgba(255,255,255,0.1);
    background-blend-mode: lighten;
    /*opacity: 0.4;*/
    /*background-color: #66b3ff;*/
    min-height: 100%;
}

.heading {
  line-height: 100px;
  font-size: 80px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -3px;
  word-spacing: 10px;
  color: #FFFFFF;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}


@media (max-width: 550px) {
     .big-container {
         display: none;
     }
 }
 @media (min-width: 550px) {
     .small-container {
         display: none;
     }
 }
 /* Responsive iFrame */
 .responsive-iframe-container {
     position: relative;
     padding-bottom: 56.25%;
     padding-top: 30px;
     height: 0;
     overflow: scroll;
 }
 .responsive-iframe-container iframe,
 .vresponsive-iframe-container object,
 .vresponsive-iframe-container embed {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
 }

.w3-bar .w3-button {
    padding: 16px;
}

.row {
  margin: -20px 0;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row .col {
  padding: 0 20px;
  float: left;
  box-sizing: border-box;
}
.row .col.x-50 {
  width: 50%;
}
.row .col.x-100 {
  width: 100%;
}

.content-wrapper {
  min-height: 100%;
  position: relative;
}

.get-in-touch {
  max-width: 650px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.get-in-touch .title {
  text-align: center;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 36px;
  line-height: 48px;
  /*padding-bottom: 48px;*/
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #000;
  font-family: Lusitana, serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  background-color: rgba(0,0,0,0);
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label, .contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-24px);
          transform: translateY(-24px);
}
.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-family: Lusitana, serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #888;
  cursor: text;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}
.contact-form .submit-btn {
  display: inline-block;
  background-color: grey;
  color: #fff;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.note {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-family: Lusitana, serif;
  font-size: 16px;
  line-height: 21px;
}
.note .link {
  color: #888;
  text-decoration: none;
}
.note .link:hover {
  text-decoration: underline;
}
.success-popup  {
    transition: .3s ease all;
    font-family: 'Roboto', sans-serif;
}
</style>
<body>
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="#home" class="w3-bar-item w3-wide"><img src="https://image.ibb.co/mGALw5/logo_nobg.png" height="35"></a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button w3-hover-light-blue">ABOUT</a>
      <a href="#team" class="w3-bar-item w3-button w3-hover-light-blue">TEAM</a>
      <a href="#calendar" class="w3-bar-item w3-button w3-hover-light-blue">CALENDAR</a>
      <a href="#resource" class="w3-bar-item w3-button w3-hover-light-blue">RESOURCE</a>
      <a target="_blank" href="http://wellesleyhacks.org/" class="w3-bar-item w3-button w3-hover-light-blue">WHACK</a>
      <a href="#store" class="w3-bar-item w3-button w3-hover-light-blue">STORE</a>
      <a href="#contact" class="w3-bar-item w3-button w3-hover-light-blue">CONTACT</a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
  <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
  <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button">TEAM</a>
  <a href="#calendar" onclick="w3_close()" class="w3-bar-item w3-button">CALENDAR</a>
  <a href="#resource" onclick="w3_close()" class="w3-bar-item w3-button">RESOURCE</a>
  <a target="_blank" href="http://wellesleyhacks.org/" onclick="w3_close()" class="w3-bar-item w3-button">WHACK</a>
  <a href="#store" onclick="w3_close()" class="w3-bar-item w3-button">STORE</a>
  <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
</nav>

<!-- Header with full-height image -->
<header class="background w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-middle w3-text-white">
    <div class="align-center">
      <h1 class="heading w3-hide-small col-xs-12 w3-animate-zoom"><b>Wellesley</b></h1>
      <h1 class="heading w3-hide-small col-xs-12 w3-animate-zoom"><b>CS Club</b></h1>
      <span class="w3-xxlarge w3-hide-large w3-hide-medium"><b>Wellesley CS Club</b></span><br>
      <span class="w3-xlarge col-xs-12" style="color: #fff;text-shadow: 2px 2px 2px rgb(0, 0, 0);">Enrich Wellesley community's Computer Science experience beyond the CS curriculum.</span><br>
      <p><a href="#about" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-blue"><b><i class="fa fa-arrow-down w3-margin-right"></i>Learn more</b></a></p>
    </div>
  </div>
</header>


<!-- About Section -->
<div class="w3-container" style="padding:128px 16px" id="about">
  <h2 class="w3-center"><b>ABOUT US</b> </h2><br>
  <div class="w3-center w3-large" style="margin:0 10% 0 10%">
  <div class="align-center" style="border: 1px dashed grey;">
    <h5 style="color:grey;"><i>Wellesley CS Club is established to provide a forum for events within the CS major/minor community and to provide opportunities for enrichment through tech-related events</i></h5>
  </div>
  </div>
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="col-md-4 col-xs-12">
      <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
      <p class="w3-large">Workshop</p>
      <p>Explore industry related workshops/job opportunities</p>
      <br>
    </div>
    <div class="col-md-4 col-xs-12">
      <i class="fa fa-users w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Social Event</p>
      <p>Connect with other CS/MAS students and professors to build a stronger community among ourselves</p>
      <br>
    </div>
    <div class="col-md-4 col-xs-12">
      <i class="fa fa-wrench w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">WHACK</p>
      <p>Build projects, have fun, be creative, break, learn, and ask questions in a space that celebrates diversity</p>
      <br>
    </div>
  </div>
</div>



<!-- Team Section -->
  <div class="container-fluid w3-light-grey" style="padding:80px 16px" id="team">
  <br>
<h2 class="align-center">Meet the 2017-2018 Team!</h2>
<h5 class="align-center" style="color:grey;"><i>Photo Credits to Katy Ma</i></h5>
<div class="row" style="margin-top:60px">
  <div class="column col-md-4 col-xs-12">

    <div class="thumbnail" style="margin-right:1em !important; padding:2em">
      <span>
          <img src="https://image.ibb.co/bHd0PR/andrea.jpg" alt="..." style="max-height:100%; max-width:100%;">
          <h3>Andrea Jackson</h3>
          <h4>President</h4>
          <p>Andrea is a senior at Wellesley College majoring in Computer Science and interested in data-related fields like data science, data visualization and machine learning. Outside of the CS Club, Andrea enjoys playing the piano, watching Westworld, tutoring and eating lots of sushi. She loves CS because it challenges her everyday and gives her the knowledge to create tools that impact communities.</p>
          <br>
          <div class="col-xs-12" style="float: center">
            <a target="_blank" href="https://github.com/ajackso" class="align-center" style="margin:auto; display:block;">
            <i class="fa fa-github fa-2x col-xs-4"></i>
            </a>
            <a target="_blank" href="https://www.linkedin.com/in/ajackso2/" class="align-center" style="margin:auto; display:block;">
            <i class="fa fa-linkedin-square fa-2x col-xs-4"></i>
            </a>
            <a href="mailto:ajackso2@wellesley.edu" class="align-center" style="margin:auto; display:block;">
            <i class="fa fa-envelope fa-2x col-xs-4"></i>
            </a>
          </div>
          <br>
          <hr class="line">
      </span>
    </div>

    <div class="thumbnail" style="margin-right:1em !important; padding:2em">
      <span>
          <img src="https://image.ibb.co/nkKfr6/emily_2.jpg" alt="..." style="max-height:100%; max-width:100%;">
          <h3>Emily Wang</h3>
          <h4>Co-Social Chair</h4>
          <p>Emily is a sophomore at Wellesley College majoring in Computer Science && (Economics || Math). </p>
          <br>
          <div class="col-xs-12" style="float: center">
            <a target="_blank" href="https://www.linkedin.com/in/wang-emily" class="align-center" style="margin:auto; display:block;">
            <i class="fa fa-linkedin-square fa-2x col-xs-6"></i>
            </a>
            <a href="mailto:ewang10@wellesley.edu" class="align-center" style="margin:auto; display:block;">
            <i class="fa fa-envelope fa-2x col-xs-6"></i>
            </a>
          </div>
          <br>
          <hr class="line">
      </span>
    </div>

    <div class="thumbnail" style="margin-right:1em !important; padding:2em">
      <span>
          <img src="https://image.ibb.co/fARJdm/daxi_1.jpg" alt="..." style="max-height:100%; max-width:100%;">
          <h3>Dorothy Sun</h3>
          <h4>Co-Web Wizard</h4>
          <p>Dorothy is a junior at Wellesley College majoring in Mathematics and Computer Science. Outside of the CS Club, she is passionate about classical music,trying out new resturants and traveling.</p>
          <br>
          <div class="col-xs-12" style="float: center">
            <a target="_blank" href="https://github.com/Dorothysun" class="align-center" style="margin:auto; display:block;">
            <i class="fa fa-github fa-2x col-xs-4"></i>
            </a>
            <a target="_blank" href="https://www.linkedin.com/in/dorothy-daxi-sun-59a016102" class="align-center" style="margin:auto; display:block;">
            <i class="fa fa-linkedin-square fa-2x col-xs-4"></i>
            </a>
            <a href="mailto:dsun@wellesley.edu" class="align-center" style="margin:auto; display:block;">
            <i class="fa fa-envelope fa-2x col-xs-4"></i>
            </a>
          </div>
          <br>
          <hr class="line">
      </span>
    </div>

    <div class="thumbnail" style="margin-right:1em !important; padding:2em">
      <span>
          <img src="https://image.ibb.co/jYMMym/katy.jpg" alt="..." style="max-height:100%; max-width:100%;">
          <h3>Katy Ma</h3>
          <h4>WHACK Co-Director</h4>
          <p>Who's Katy</p>
          <hr class="line">
      </span>
    </div>
  </div>

  <div class="column col-md-4 col-xs-12">

    <div class="thumbnail" style="margin-right:1em !important; padding:2em">
      <span>
          <img src="https://image.ibb.co/iVqKZR/alice_2.jpg" alt="..." style="max-height:100%; max-width:100%;">
          <h3>Alice (Yinru) Pan</h3>
          <h4>Vice President</h4>
          <p>Alice (Yinru) is a sophomore double majoring in Computer Science and Economics. Besides CS club, she is also part of the Slater International Student Organization, a student teacher at Wellesley College Child Study Center, and a staff photographer at Wellesley College New. She loves film, photography, cooking and baking.</p>
          <br>
          <div class="col-xs-12" style="float: center">
            <a target="_blank" href="https://www.linkedin.com/in/yinru-alice-pan-10731798/" class="align-center" style="margin:auto; display:block;">
            <i class="fa fa-linkedin-square fa-2x col-xs-6"></i>
            </a>
            <a href="mailto:ypan2@wellesley.edu" class="align-center" style="margin:auto; display:block;">
            <i class="fa fa-envelope fa-2x col-xs-6"></i>
            </a>
          </div>
          <br>
          <hr class="line">
      </span>
    </div>


    <div class="thumbnail" style="margin-right:1em !important; padding:2em">
      <span>
          <img src="https://image.ibb.co/mStn4R/trisha.jpg" alt="..." style="max-height:100%; max-width:100%;">
          <h3>Trisha Atluri</h3>
          <h4>Co-Social Chair</h4>
          <p>need to fill in!</p>
          <hr class="line">
      </span>
    </div>

    <div class="thumbnail" style="margin-right:1em !important; padding:2em">
      <span>
          <img src="https://image.ibb.co/j8E5r6/IMG_3618.jpg" alt="..." style="max-height:100%; max-width:100%;">
          <h3>Shan Lu</h3>
          <h4>Co-Web Wizard</h4>
          <p>Shan is a sophomore at Wellesley studying Computer Science and Economics. When she's not working on machine learning algorithms or web dev, she enjoys snowboarding, dancing and finding the best ice cream in town.</p>
          <br>
          <div class="col-xs-12" style="float: center">
            <a target="_blank" href="https://github.com/shanlulu" class="align-center" style="margin:auto; display:block;">
            <i class="fa fa-github fa-2x col-xs-4"></i>
            </a>
            <a target="_blank" href="https://www.linkedin.com/in/shan-lu-profile/" class="align-center" style="margin:auto; display:block;">
            <i class="fa fa-linkedin-square fa-2x col-xs-4"></i>
            </a>
            <a href="mailto:slu5@wellesley.edu" class="align-center" style="margin:auto; display:block;">
            <i class="fa fa-envelope fa-2x col-xs-4"></i>
            </a>
          </div>
          <br>
          <hr class="line">
      </span>
    </div>

    <div class="thumbnail" style="margin-right:1em !important; padding:2em">
      <span>
          <img src="https://image.ibb.co/nPsPJm/jesslyn_2.jpg" alt="..." style="max-height:100%; max-width:100%;">
          <h3>Jesslyn Tannady</h3>
          <h4>WHACK Co-Director</h4>
          <p>Jesslyn has been attending and running hackathons since she got conned into attending her first one in 2015. When she’s not running hackathons, she’s working on augmented reality navigation tools for astronauts as part of her UROP research.</p>
          <br>
          <div class="col-xs-12" style="float: center">
            <a target="_blank" href="https://www.linkedin.com/in/jesslyntannady/" class="align-center" style="margin:auto; display:block;">
            <i class="fa fa-linkedin-square fa-2x col-xs-6"></i>
            </a>
            <a href="mailto:jtannady@wellesley.edu" class="align-center" style="margin:auto; display:block;">
            <i class="fa fa-envelope fa-2x col-xs-6"></i>
            </a>
          </div>
          <br>
          <hr class="line">
      </span>
    </div>

  </div>

  <div class="column col-md-4 col-xs-12">

    <div class="thumbnail" style="margin-right:1em !important; padding:2em">
      <span>
          <img src="https://image.ibb.co/kWuX4R/silvie.jpg" alt="..." style="max-height:100%; max-width:100%;">
          <h3>Silvie Coheleach</h3>
          <h4>Publicity Chair</h4>
          <p>Silvie is a sophomore at Wellesley majoring in Computer Science and minoring in Anthropology. Outside of the CS Club, she is involved in the jazz band, the Whiptails Ultimate Frisbee team, Society Zeta Alpha, and WZLY. </p>
          <br>
          <div class="col-xs-12" style="float: center">
            <a href="mailto:scohelea@wellesley.edu" class="align-center" style="margin:auto; display:block;">
            <i class="fa fa-envelope fa-2x col-xs-12"></i>
            </a>
          </div>
          <br>
          <hr class="line">
      </span>
    </div>

    <div class="thumbnail" style="margin-right:1em !important; padding:2em">
      <span>
          <img src="https://image.ibb.co/k0eGg6/anah.jpg" alt="..." style="max-height:100%; max-width:100%;">
          <h3>Anah Lewi</h3>
          <h4>Workshop Chair</h4>
          <p>Something about me</p>
          <hr class="line">
      </span>
    </div>


    <div class="thumbnail" style="margin-right:1em !important; padding:2em">
      <span>
          <img src="https://image.ibb.co/kCUPJm/caitlin_1.jpg" alt="..." style="max-height:100%; max-width:100%;">
          <h3>Caitlin Pham</h3>
          <h4>Networking Chair</h4>
          <p>Caitlin is a first year at Wellesley College looking to major in Computer Science. Beyond the CS Club, she loves volunteering, catching up on sleep, and hitting all the trendy food places.</p>
          <br>
          <div class="col-xs-12" style="float: center">
            <a target="_blank" href="https://www.linkedin.com/in/caitlinlpham/" class="align-center" style="margin:auto; display:block;">
            <i class="fa fa-linkedin-square fa-2x col-xs-6"></i>
            </a>
            <a href="mailto:cpham2@wellesley.edu" class="align-center" style="margin:auto; display:block;">
            <i class="fa fa-envelope fa-2x col-xs-6"></i>
            </a>
          </div>
          <br>
          <hr class="line">
      </span>
    </div>


    <div class="thumbnail" style="margin-right:1em !important; padding:2em">
      <span>
          <img src="https://image.ibb.co/dDAWg6/amber_2.jpg" alt="..." style="max-height:100%; max-width:100%;">
          <h3>Amber Skarjune</h3>
          <h4>Co-Treasurer</h4>
          <p>need to fill in!</p>
          <hr class="line">
      </span>
    </div>

    <div class="thumbnail" style="margin-right:1em !important; padding:2em">
      <span>
          <img src="https://image.ibb.co/bFwFPR/evelyn_3.jpg" alt="..." style="max-height:100%; max-width:100%;">
          <h3>Evelyn Chen</h3>
          <h4>Co-Treasurer</h4>
          <p>Evelyn! </p>
          <br>
          <div class="col-xs-12" style="float: center">
            <a href="mailto:echen4@wellesley.edu" class="align-center" style="margin:auto; display:block;">
            <i class="fa fa-envelope fa-2x col-xs-12"></i>
            </a>
          </div>
          <br>
          <hr class="line">
      </span>
    </div>
  </div>
  </div>
  </div>


<!-- Calendar Section -->
<div class="container-fluid align-center" style="padding:80px 16px;" id="calendar">
  <h2>Events Calendar</h2><br>
  <div style="margin:0 10% 0 10%">
    <div class="responsive-iframe-container big-container">
      <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=wellesley.edu_22kgeflomqpg8fbk7ofn3j8d74%40group.calendar.google.com&amp;color=%2342104A&amp;ctz=America%2FNew_York" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>
  <div class="responsive-iframe-container small-container">
    <iframe src="https://calendar.google.com/calendar/embed?mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=wellesley.edu_22kgeflomqpg8fbk7ofn3j8d74%40group.calendar.google.com&amp;color=%2342104A&amp;ctz=America%2FNew_York" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
  </div>
</div>


<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-xxlarge w3-black w3-padding-large w3-display-topright" title="Close Modal Image">×</span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>

<!-- Resource Section -->
<div class="container-fluid w3-light-grey align-center" style="padding:128px 16px;" id="resource">
  <div class="w3-row-padding">
    <h2>Resource</h2>
    <p>#Under Construction</p>
    <!-- <div class="w3-col m6">
      <h3>Our Resource.</h3>
      <p>1</p>
      <p>2</p>
    </div> -->
    <!-- <div class="w3-col m6">
      <p class="w3-wide"><i class="fa fa-camera w3-margin-right"></i>123</p>
      <p class="w3-wide"><i class="fa fa-desktop w3-margin-right"></i>456</p>
      <p class="w3-wide"><i class="fa fa-photo w3-margin-right"></i>789</p>
    </div> -->
  </div>
</div>

<!-- Store Section -->
<div class="container-fluid w3-light-white align-center" style="padding:128px 16px; max-width:500px" id="store">
  <div class="w3-row-padding">
  <h2>Store</h2>
    <div class="w3-container" style="margin-top:50px;">
      <div class="w3-container">
        <div class="w3-card-3">
          <img id="sweatshirt" src="https://image.ibb.co/cxQyyx/sweatshirt1.jpg" onmouseover="hover(this);" onmouseout="unhover(this);" alt="Norway" style="width:90%;height=70%;">
          <div class="w3-container w3-center">
            <h4>CS Club Sweatshirt</h4>
            <h6>Preorder Open Soon</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<!-- Contact Section -->
<div class="container-fluid w3-light-grey align-center" style="padding:128px 16px;" id="contact">
  <div style="margin:0 10% 0 10%">
      <!-- <div class="get-in-touch"> -->
        <h1 class="title">CONTACT</h1><br>
        <form class="contact-form row" action="/message" method="post">
          <div class="form-field col x-50">
            <input id="name" name="name" class="input-text js-input" type="text" required>
            <label class="label" for="name">Name *</label>
          </div>
          <div class="form-field col x-50">
            <input id="email" name="email" class="input-text js-input" type="email" required>
            <label class="label" for="email">E-mail *</label>
          </div>
          <div class="form-field col x-100">
            <textarea id="message" name="message" class="input-text js-input" type="text" wrap="soft" required></textarea>
            <label class="label" for="message">Message *</label>
          </div>
          <div class="form-field col x-100 align-center">
            <input class="submit-btn w3-hover-light-blue" data-toggle="modal" data-target="#myModal" type="submit" value="Send Message!">
          </div>
        </form>

  </div>
</div>

<!-- Modal Success Popup -->
<div class="modal fade success-popup" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel">Thank You!</h4>
      </div>
      <div class="modal-body text-center">
          <p class="lead">Message successfully sent. We will get back to you soon!</p>
          <a href="/" class="rd_more btn btn-default">Back to Home</a>
      </div>

    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>Top</a>
  <div class="w3-xlarge w3-section">
    <a target="_blank" href="https://www.facebook.com/Wellesley-CS-Club-856871510992038/"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
  </div>
  <p>Made with  <i class="fa fa-heart w3-hover-opacity"></i></p>
</footer>

<script>

// Toggle between showing and hiding the sidebar when clicking the menu icon
var mySidebar = document.getElementById("mySidebar");

function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
    } else {
        mySidebar.style.display = 'block';
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
}

function hover(element) {
    element.setAttribute('src', 'https://image.ibb.co/dh0vBH/sweatshirt2.jpg');
}
function unhover(element) {
    element.setAttribute('src', 'https://image.ibb.co/cxQyyx/sweatshirt1.jpg');
}

</script>
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script> -->

  <!-- <div class="col-xs-12">
    {{{body}}}
  </div> -->

  <!-- <script src="jquery-1.11.3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="/scripts/script.js"></script>

</body>

</body>
</html>
