<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Wellesley CS Club</title>

  <!-- Latest compiled and minified CSS -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600|Titillium+Web:400,600' rel='stylesheet' type='text/css'>

  <link rel="icon" href="https://image.ibb.co/mMWSR5/Wechat_IMG16.png">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <link rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/eboard.css">
  <!-- Your stylesheet -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

  <div class="navbar-wrapper">
    <div class="container-fluid">
        <nav class="navbar navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <!-- <a class="navbar-brand" href="#"><img src="https://image.ibb.co/eFTyYk/logo_nobg.png" alt="logo" height=35></a> -->
                    <a class="navbar-brand" href="/">Wellesley CS Club </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                      <!-- <li><a href="#">Link 2</a></li> -->
                      <!-- <li><a href="#"></a></li> -->
                      <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                      <li><a href="/eboard"><span class="glyphicon glyphicon-user"></span> Eboard</a></li>
                      <li><a href="/calendar"><span class="glyphicon glyphicon-calendar"></span> Calendar</a></li>
                      <li><a href="/resource"><span class="glyphicon glyphicon-list-alt"></span> Resource</a></li>
                      <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> WHACK</a></li> -->
                      <li><a href="/project"><span class="glyphicon glyphicon-pencil"></span> Project</a></li>
                      <li><a href="/contact"><span class="glyphicon glyphicon-phone"></span> Contact</a></li>
                      <li><a href="/store"><span class="glyphicon glyphicon-shopping-cart"></span> Store</a></li>
                      <li><a href="/sponsor"><span class="glyphicon glyphicon-thumbs-up"></span> Sponsor</a></li>
                    </ul>
                    <!-- <ul class="nav navbar-nav pull-right"> -->
                        <!-- <li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Signed in as  <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Change Password</a></li>
                                <li><a href="#">My Profile</a></li>
                            </ul>
                        </li> -->
                        <!-- <li><a href="#"><button type="button" class="btn btn-default btn-sm">Join Us!</button></a></li>
                    </ul> -->
                </div>
            </div>
        </nav>
    </div>
</div>


  <div class="col-xs-12">
    {{{body}}}
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="/scripts/script.js"></script>

</body>

</body>
</html>
