<div class="container-fluid">
  <br>
<h2>Meet the 2017-2018 Team!</h2>
<div class="row" style="margin-top:60px">

  <!-- {{#each members}}
    <div class="col-md-4 col-xs-12 thumbnail" style="margin-right:1em !important">
      <span>
          <img src="{{this.imageUri}}" alt="..." style="max-height:100%; max-width:100%;">
          <h3>{{this.name}}</h3>
          <h4>{{this.position}}</h4>
          <p>{{this.about}}</p>
          <hr class="line">
      </span>
    </div>
  {{/each}} -->
  <div class="column col-md-4 col-xs-12">

    <div class="thumbnail" style="margin-right:1em !important; padding:2em">
      <span>
          <img src="https://image.ibb.co/cL879Q/shan_lu_x.jpg" alt="..." style="max-height:100%; max-width:100%;">
          <h3>Andrea Jackson</h3>
          <h4>President</h4>
          <p>Andrea is a senior at Wellesley College majoring in Computer Science and interested in data-related fields like data science, data visualization and machine learning. Outside of the CS Club, Andrea enjoys playing the piano, watching Westworld, tutoring and eating lots of sushi. She loves CS because it challenges her everyday and gives her the knowledge to create tools that impact communities.</p>
          <br>
          <div class="col-xs-12" style="float: center">
            <a href="https://github.com/ajackso" style="margin:auto; text-align:center; display:block;">
            <i class="fa fa-github fa-2x col-xs-4"></i>
            </a>
            <a href="https://www.linkedin.com/in/ajackso2/" style="margin:auto; text-align:center; display:block;">
            <i class="fa fa-linkedin-square fa-2x col-xs-4"></i>
            </a>
            <a href="mailto:ajackso2@wellesley.edu" style="margin:auto; text-align:center; display:block;">
            <i class="fa fa-envelope fa-2x col-xs-4"></i>
            </a>
          </div>
          <br>
          <hr class="line">
      </span>
    </div>

    <div class="thumbnail" style="margin-right:1em !important; padding:2em">
      <span>
          <img src="https://image.ibb.co/cL879Q/shan_lu_x.jpg" alt="..." style="max-height:100%; max-width:100%;">
          <h3>Shan 4</h3>
          <h4>Co-Web Wizard</h4>
          <p>Shan is a sophomore at Wellesley studying Computer Science and Economics. When she's not programming in JavaScript or Python, she enjoys snowboarding, dancing and finding the best ice cream in town. </p>
          <br>
          <div class="col-xs-12" style="float: center">
            <a href="https://github.com/shanlulu" style="margin:auto; text-align:center; display:block;">
            <i class="fa fa-github fa-2x col-xs-4"></i>
            </a>
            <a href="https://www.linkedin.com/in/shan-lu-profile/" style="margin:auto; text-align:center; display:block;">
            <i class="fa fa-linkedin-square fa-2x col-xs-4"></i>
            </a>
            <a href="mailto:slu5@wellesley.edu" style="margin:auto; text-align:center; display:block;">
            <i class="fa fa-envelope fa-2x col-xs-4"></i>
            </a>
          </div>
          <br>
          <hr class="line">
      </span>
    </div>

    <div class="thumbnail" style="margin-right:1em !important; padding:2em">
      <span>
          <img src="https://image.ibb.co/cL879Q/shan_lu_x.jpg" alt="..." style="max-height:100%; max-width:100%;">
          <h3>Jesslyn Tannady</h3>
          <h4>WHACK co-Director</h4>
          <p>Jesslyn has been attending and running hackathons since she got conned into attending her first one in 2015. When she’s not running hackathons, she’s working on augmented reality navigation tools for astronauts as part of her UROP research.</p>
          <hr class="line">
      </span>
    </div>

  </div>

  <div class="column col-md-4 col-xs-12">

    <div class="thumbnail" style="margin-right:1em !important; padding:2em">
      <span>
          <img src="https://image.ibb.co/cL879Q/shan_lu_x.jpg" alt="..." style="max-height:100%; max-width:100%;">
          <h3>Silvie Coheleach</h3>
          <h4>Publicity Chair</h4>
          <p>Silvie is a sophomore at Wellesley majoring in Computer Science and minoring in Anthropology. Outside of the CS Club, she is involved in the jazz band, the Whiptails Ultimate Frisbee team, Society Zeta Alpha, and WZLY. </p>
          <div class="col-xs-12" style="float: center">
            <a style="margin:auto; text-align:center; display:block;">
            <i class="fa fa-github fa-2x col-xs-4"></i>
            </a>
            <a style="margin:auto; text-align:center; display:block;">
            <i class="fa fa-linkedin-square fa-2x col-xs-4"></i>
            </a>
            <a href="mailto:scohelea@wellesley.edu" style="margin:auto; text-align:center; display:block;">
            <i class="fa fa-envelope fa-2x col-xs-4"></i>
            </a>
          </div>
          <hr class="line">
      </span>
    </div>

    <div class="thumbnail" style="margin-right:1em !important; padding:2em">
      <span>
          <img src="https://image.ibb.co/cL879Q/shan_lu_x.jpg" alt="..." style="max-height:100%; max-width:100%;">
          <h3>Dorothy Sun</h3>
          <h4>Co-Web Wizard</h4>
          <p>Dorothy is a junior at Wellesley College majoring in Mathematics and Computer Science. Outside of the CS Club, she is passionate about classical music,trying out new resturants and traveling.</p>
          <hr class="line">
      </span>
    </div>

    <div class="thumbnail" style="margin-right:1em !important">
      <span>
          <img src="https://image.ibb.co/cL879Q/shan_lu_x.jpg" alt="..." style="max-height:100%; max-width:100%;">
          <h3>Shan 8</h3>
          <h4>Co-Web Wizard</h4>
          <p>I'm real.</p>
          <hr class="line">
      </span>
    </div>

  </div>

  <div class="column col-md-4 col-xs-12">

    <div class="thumbnail" style="margin-right:1em !important">
      <span>
          <img src="https://image.ibb.co/cL879Q/shan_lu_x.jpg" alt="..." style="max-height:100%; max-width:100%;">
          <h3>Shan 3</h3>
          <h4>Co-Web Wizard</h4>
          <p>Trying to write something longer so it appears to be different and fun. Now it's good!</p>
          <hr class="line">
      </span>
    </div>

    <div class="thumbnail" style="margin-right:1em !important">
      <span>
          <img src="https://image.ibb.co/cL879Q/shan_lu_x.jpg" alt="..." style="max-height:100%; max-width:100%;">
          <h3>Shan 6</h3>
          <h4>Co-Web Wizard</h4>
          <p>Something about me</p>
          <hr class="line">
      </span>
    </div>

    <div class="thumbnail" style="margin-right:1em !important">
      <span>
          <img src="https://image.ibb.co/cL879Q/shan_lu_x.jpg" alt="..." style="max-height:100%; max-width:100%;">
          <h3>Shan 9</h3>
          <h4>Co-Web Wizard</h4>
          <p>Shan is a sophomore at Wellesley studying Computer Science and Economics. When she's not programming in JavaScript or Python, she enjoys snowboarding, dancing and finding the best ice cream in town.</p>
          <hr class="line">
      </span>
    </div>

  </div>
</div>
</div>
