<div class="container-fluid">
  <br>
<h2>Meet the Team!</h2>
<div class="row" style="margin-top:60px">

  <!-- {{#each members}}
    <div class="col-md-4 col-xs-6 thumbnail" style="margin-right:1em !important">
      <span>
          <img src="{{this.imageUri}}" alt="..." style="max-height:100%; max-width:100%;">
          <h3>{{this.name}}</h3>
          <h4>{{this.position}}</h4>
          <p>{{this.about}}</p>
          <hr class="line">
      </span>
    </div>
  {{/each}} -->
  <div class="column col-md-4 col-xs-6">

    <div class="thumbnail" style="margin-right:1em !important">
      <span>
          <img src="https://image.ibb.co/cL879Q/shan_lu_x.jpg" alt="..." style="max-height:100%; max-width:100%;">
          <h3>Shan Lu</h3>
          <h4>Co-Web Wizard</h4>
          <p>Shan is a sophomore at Wellesley studying Computer Science and Economics. When she's not programming in JavaScript or Python, she enjoys snowboarding, dancing and finding the best ice cream in town.</p>
          <br>
          <div class="col-xs-12">
            <i class="fa fa-github fa-2x col-md-3 col-xs-6"></i>
            <i class="fa fa-linkedin-square fa-2x col-md-3 col-xs-6"></i>
            <i class="fa fa-user-circle fa-2x col-md-3 col-xs-6"></i>
            <i class="fa fa-envelope fa-2x col-md-3 col-xs-6"></i>
          </div>
          <br>
          <hr class="line">
      </span>
    </div>

    <div class="thumbnail" style="margin-right:1em !important">
      <span>
          <img src="https://image.ibb.co/cL879Q/shan_lu_x.jpg" alt="..." style="max-height:100%; max-width:100%;">
          <h3>Shan 4</h3>
          <h4>Co-Web Wizard</h4>
          <p>Something about me</p>
          <hr class="line">
      </span>
    </div>

    <div class="thumbnail" style="margin-right:1em !important">
      <span>
          <img src="https://image.ibb.co/cL879Q/shan_lu_x.jpg" alt="..." style="max-height:100%; max-width:100%;">
          <h3>Shan 7</h3>
          <h4>Co-Web Wizard</h4>
          <p>blah blah</p>
          <hr class="line">
      </span>
    </div>

  </div>

  <div class="column col-md-4 col-xs-6">

    <div class="thumbnail" style="margin-right:1em !important">
      <span>
          <img src="https://image.ibb.co/cL879Q/shan_lu_x.jpg" alt="..." style="max-height:100%; max-width:100%;">
          <h3>Shan 2</h3>
          <h4>Co-Web Wizard</h4>
          <p>heyhey yoyoyoy</p>
          <hr class="line">
      </span>
    </div>

    <div class="thumbnail" style="margin-right:1em !important">
      <span>
          <img src="https://image.ibb.co/cL879Q/shan_lu_x.jpg" alt="..." style="max-height:100%; max-width:100%;">
          <h3>Shan 5</h3>
          <h4>Co-Web Wizard</h4>
          <p>Shan is a sophomore at Wellesley studying Computer Science and Economics. When she's not programming in JavaScript or Python, she enjoys snowboarding, dancing and finding the best ice cream in town.</p>
          <hr class="line">
      </span>
    </div>

    <div class="thumbnail" style="margin-right:1em !important">
      <span>
          <img src="https://image.ibb.co/cL879Q/shan_lu_x.jpg" alt="..." style="max-height:100%; max-width:100%;">
          <h3>Shan 8</h3>
          <h4>Co-Web Wizard</h4>
          <p>I'm real.</p>
          <hr class="line">
      </span>
    </div>

  </div>

  <div class="column col-md-4 col-xs-6">

    <div class="thumbnail" style="margin-right:1em !important">
      <span>
          <img src="https://image.ibb.co/cL879Q/shan_lu_x.jpg" alt="..." style="max-height:100%; max-width:100%;">
          <h3>Shan 3</h3>
          <h4>Co-Web Wizard</h4>
          <p>Trying to write something longer so it appears to be different and fun. Now it's good!</p>
          <hr class="line">
      </span>
    </div>

    <div class="thumbnail" style="margin-right:1em !important">
      <span>
          <img src="https://image.ibb.co/cL879Q/shan_lu_x.jpg" alt="..." style="max-height:100%; max-width:100%;">
          <h3>Shan 6</h3>
          <h4>Co-Web Wizard</h4>
          <p>Something about me</p>
          <hr class="line">
      </span>
    </div>

    <div class="thumbnail" style="margin-right:1em !important">
      <span>
          <img src="https://image.ibb.co/cL879Q/shan_lu_x.jpg" alt="..." style="max-height:100%; max-width:100%;">
          <h3>Shan 9</h3>
          <h4>Co-Web Wizard</h4>
          <p>Shan is a sophomore at Wellesley studying Computer Science and Economics. When she's not programming in JavaScript or Python, she enjoys snowboarding, dancing and finding the best ice cream in town.</p>
          <hr class="line">
      </span>
    </div>

  </div>
</div>
</div>
