<!-- <h3>Home</h3>
<p>Everyone visiting your site will be able to see this page, no login required</p>

<br />

<span>Visit a page that requires you to be logged in</span> <a href="/protected" class="btn btn-primary">Here</a> -->

<!-- <div class="container-fluid">
  <img src="https://image.ibb.co/mGALw5/logo_nobg.png" alt="logo" width=71%>
</div>

<div class="deep section">
  <h3><span class="subtitle">About Us</span></h3>
  <br/>
  <p>Wellesley CS Club is a student organization that was started to enrich the community's Computer Science experience beyond the CS curriculum. The Wellesley Computer Science Club is a chapter of both the ACM and of the ACMW.</p>
</div> -->
